﻿@model WebMVC.Models.Product[]
@{
    ViewBag.Title = "Products";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #B4CFC3;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #71857C;
    }
</style>
@using (Html.BeginForm())
{
    <div>
        @Html.TextBox("count")

        <input type="submit" value="Фильтровать" />
    </div>

}

<div id="grid">
    
     @{
         var grid = new WebGrid(Model,
             rowsPerPage: 5,
             columnNames:new [] {"Name", "Cost","Count"},
             ajaxUpdateContainerId: "grid");
         

         var pager = grid.Pager(mode: WebGridPagerModes.All);
         
     }
    
    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
        caption: "Продукты Alexpress в Кемерово")
    
</div>